.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    }

    .header img {
    transition: transform 0.3s ease;
    }

    .header img
    {
    transform: scale(1.1);
    }

    /* Estilos para la sección de texto /
    .divTexto {
    background-image: url('../imagenes/article.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    height: 50vh;
    / margin-top: 5rem; Añadido para dejar espacio para el header fijo */


    .divTexto h1,
    .divTexto h2 {
    color: cornflowerblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 0.5px black;
    text-align: center;
    margin-bottom: 1rem;
    }

    .divEntradas {
    background-color: #007bff;
    padding: 2rem 0;
    }

    .divExpo {
    background-color: #6c757d;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    }

    .divExpo
    {
    transform: translateY(-10px);
    }

    .divExpo h2 {
    color: #ffffff;
    text-align: center;
    }

    .divExpo p {
    color: #dcdcdc;
    text-align: center;
    }

    .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    }

    .img-responsive {
    width: 100%;
    height: auto;
    }

    .container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .boton_entradas {
    height: 6vh;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid cornflowerblue;
    color: cornflowerblue;
    width: auto; /* Ajusta el ancho automático /
    margin-right: 10px; / Espacio entre botones */
    }

    .botones-comprar-container {
    display: flex; /* Flexbox para alinear botones en la misma línea /
    justify-content: center; / Alinea los botones a la izquierda */
    }

    .boton_entradas_crearexpo {
        height: 6vh;
        border-radius: 0;
        background-color: transparent;
        border: 1px solid cornflowerblue;
        color: cornflowerblue;
    }

    .boton_entradas_crearexpo:hover {
        background-image: url('../imagenes/ticketnegro.png'); /* Nueva imagen para el hover */
        background-color: cornflowerblue;
        color: black;
    }


