.custom-bg-color-editarexpo {
    background-color: #fbf2d5;
}

/* Estilos para el encabezado */
.header-editarexpo {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
}

.header-editarexpo img {
    transition: transform 0.3s ease;
}

.header-editarexpo img:hover {
    transform: scale(1.1);
}

/* Estilos para la sección de texto */
.divTexto-editarexpo {
    background-image: url('../imagenes/article.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
    height: 50vh;
}

.divTexto-editarexpo h1, .divTexto-editarexpo h2 {
    color: cornflowerblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 0.5px black;
    text-align: center;
    margin-bottom: 1rem;
}

.divEntradas-editarexpo {
    background-color: #007bff;
    padding: 2rem 0;
}

.divExpo-editarexpo {
    background-color: #6c757d;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.divExpo-editarexpo:hover {
    transform: translateY(-10px);
}

.divExpo-editarexpo h2 {
    color: #ffffff;
    text-align: center;
}

.divExpo-editarexpo p {
    color: #dcdcdc;
    text-align: center;
}

.img-fluid-editarexpo {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.img-responsive-editarexpo {
    width: 100%;
    height: auto;
}

.container-center-editarexpo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_entradas-editarexpo {
    height: 6vh;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid cornflowerblue;
    color: cornflowerblue;
    width: auto; /* Ajusta el ancho automático */
    margin-right: 10px; /* Espacio entre botones */
}

.botones-comprar-container-editarexpo {
    display: flex; /* Flexbox para alinear botones en la misma línea */
    justify-content: center; /* Alinea los botones a la izquierda */
}

.boton_entradas-editarexpo:hover {
    background-image: url('../imagenes/ticketnegro.png');
    background-color: cornflowerblue;
    color: black;
}

.boton_entradas_obra-editarexpo {
    height: 6vh;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    width: auto; /* Ajusta el ancho automático */
    margin-right: 10px; /* Espacio entre botones */
}

.boton_entradas_obra-editarexpo:hover {
    background-image: url('../imagenes/ticketnegro.png');
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

.boton_entradas_obra_crear-editarexpo {
    height: 6vh;
    border-radius: 0;
    background-color: rgb(0, 255, 0);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: auto; /* Ajusta el ancho automático */
    margin-right: 10px; /* Espacio entre botones */
}
